<header>
      <div class="title"><a href="/"></a></div>
</header>
<div class="wrap flc">
  <div class="main">
    <div id="dqnplus">
      <%= render 'blogs' %>
    </div>
    <div class="tablet-sub tablet-sub-list"></div>
  </div>
  <div class="sub">
    <%=  link_to "スレ立て", new_blog_path, class: "btn btn-solid" %>
    <br>
    <br>
    <div class="sub-part sub-topics mb20">
      <%= render 'card' %>
    </div>
    <div class="sub-part sub-topics mb20">
      <%= render 'rank' %>
    </div>
  </div>
</div>






