<header>
      <div class="title"><a href="/"></a></div>
</header>
<br>
<div class="wrap flc">
  <div class="main">
    <div id="dqnplus">
      <%= render 'form' %>
    </div>
    <div class="tablet-sub tablet-sub-list"></div>
  </div>
  <div class="sub">
    <%= link_to "スレ一覧に戻る", blogs_path, class: "btn btn-solid" %>
    <br>
    <br>
  </div>
</div>

