
a, abbr, address, article, aside, audio, b, blockquote, body, caption, cite, code, dd, del, dfn, dialog, div, dl, dt, em, fieldset, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, pre, q, samp, section, small, source, span, strong, sub, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video, p {
    font-size: 18px;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    border: 0;
    outline: 0;
    background: 0 0;
}
header {
    box-sizing: border-box;
    width: 100%;
    height: 73px;
    background: #d9376e;
}
header .title {
    padding: 11px 0 9px;
    text-align: center;
    border-bottom: 1px dashed #d9376e;
}
article, aside, dialog, figure, footer, header, hgroup, hr, menu, nav, section {
    display: block;
}

body, html {
    font-family: 'ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN','Hiragino Sans','メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    color: grey;
    background: #eff0f3;
}
body {
    line-height: 1;
}

body {
    line-height: 1;
}
header .title a {
    display: block;
    width: 100%;
    height: 100%;
}
a {
    color: #0d0d0d;
}
.flc:after {
    display: block;
}
.flc:after, .wrap .sub .sub-part:after {
    clear: both;
    content: '';
}
nav {
    height: 44px;
    margin-bottom: 20px;
    background: #fff;
}
nav {
    display: block;
}
.flc:after, .wrap .sub .sub-part:after {
    clear: both;
    content: '';
}
.wrap .main {
    float: left;
    box-sizing: border-box;
    width: 680px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 20px 20px 40px;
}
.wrap .main, .wrap .sub .sub-part {
    border-radius: 2px;
    background: #fff;
}
.topic-list-wrap .topic-list-header {
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px dashed #fff;
}
h3 {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    border-color: #ff8e3c;
    border-width: 0px 0px 1px 10px;
    border-style: solid;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
li {
    padding: 17px 5px 17px 5px;
    border-color: #DDDDFF;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
}
li {
    list-style: none;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.small_font {
    font-size: 10px;
}
.wrap .sub {
    float: right;
    width: 300px;
    margin-right: 20px;
    margin-bottom: 114px;
}
.wrap .sub .sub-part {
    position: relative;
    padding: 16px;
}
.btn, a.btn {
    display: block;
    cursor: pointer;
    text-decoration: none;
}
.mb20 {
    margin-bottom: 20px!important;
}
.wrap .sub .sub-part:after {
    display: block;
}
.flc:after, .wrap .sub .sub-part:after {
    clear: both;
    content: '';
}
.wrap .sub .sub-part .head {
    font-size: 15px;
    font-weight: 600;
    line-height: 16px;
    margin-bottom: 11px;
    padding-bottom: 12px;
    color: #0d0d0d;
    border-bottom: 1px dashed #ff8e3c;
}
a.btn-solid {
    color: #0d0d0d;
    border-top: 4px solid #ff8e3c;
    border-right: 4px solid #ff8e3c;
    border-bottom: 4px solid #ff8e3c;
    border-left: 4px solid #ff8e3c;
    border-radius: 0;
    background: #ff8e3c;
  }
  
  a.btn-solid:hover {
    color: #0d0d0d;
    border-top: 4px solid #ff8e3c;
    border-right: 4px solid #ff8e3c;
    border-bottom: 4px solid #ff8e3c;
    border-left: 4px solid #ff8e3c;
  }
  @media (max-width: 1024px) {
    .wrap .flc {
      font-size: 18px;
      margin: 0;
      padding: 0;
      vertical-align: baseline;
      border: 0;
      outline: 0;
      background: 0 0
  }
  .wrap .main {
      float: left;
      box-sizing: border-box;
      width: 888px;
      margin-bottom: 20px;
      margin-left: 20px;
      padding: 20px 20px 40px;
  }
  .wrap .sub {
      float: right;
      width: 888px;
      margin-right: 20px;
      margin-bottom: 114px;
  }
}

@media (max-width: 768px) {
    .wrap .flc {
      font-size: 18px;
      margin: 0;
      padding: 0;
      vertical-align: baseline;
      border: 0;
      outline: 0;
      background: 0 0
  }
  .wrap .main {
      float: left;
      box-sizing: border-box;
      width: 650px;
      margin-bottom: 20px;
      margin-left: 20px;
      padding: 20px 20px 40px;
  }
  .wrap .sub {
      float: right;
      width: 650px;
      margin-right: 20px;
      margin-bottom: 114px;
  }
}

@media (max-width: 767px) {
      .wrap .flc {
        font-size: 18px;
        margin: 0;
        padding: 0;
        vertical-align: baseline;
        border: 0;
        outline: 0;
        background: 0 0
    }
    .wrap .main {
        float: left;
        box-sizing: border-box;
        width: 480px;
        margin-bottom: 20px;
        margin-left: 20px;
        padding: 20px 20px 40px;
    }
    .wrap .sub {
        float: right;
        width: 480px;
        margin-right: 20px;
        margin-bottom: 114px;
    }
}

@media (max-width: 540px) {
    .wrap .flc {
      font-size: 18px;
      margin: 0;
      padding: 0;
      vertical-align: baseline;
      border: 0;
      outline: 0;
      background: 0 0
  }
  .wrap .main {
      float: left;
      box-sizing: border-box;
      width: 470px;
      margin-bottom: 20px;
      margin-left: 20px;
      padding: 20px 20px 40px;
  }
  .wrap .sub {
      float: right;
      width: 470px;
      margin-right: 20px;
      margin-bottom: 114px;
  }
}

@media (max-width: 414px) {
    .wrap .flc {
      font-size: 18px;
      margin: 0;
      padding: 0;
      vertical-align: baseline;
      border: 0;
      outline: 0;
      background: 0 0
  }
  .wrap .main {
      float: left;
      box-sizing: border-box;
      width: 350px;
      margin-bottom: 20px;
      margin-left: 20px;
      padding: 20px 20px 40px;
  }
  .wrap .sub {
      float: right;
      width: 350px;
      margin-right: 20px;
      margin-bottom: 114px;
  }
}

@media (max-width: 411px) {
    .wrap .flc {
      font-size: 18px;
      margin: 0;
      padding: 0;
      vertical-align: baseline;
      border: 0;
      outline: 0;
      background: 0 0
  }
  .wrap .main {
      float: left;
      box-sizing: border-box;
      width: 340px;
      margin-bottom: 20px;
      margin-left: 20px;
      padding: 20px 20px 40px;
  }
  .wrap .sub {
      float: right;
      width: 340px;
      margin-right: 20px;
      margin-bottom: 114px;
  }
}

@media (max-width: 375px) {
    .wrap .flc {
      font-size: 18px;
      margin: 0;
      padding: 0;
      vertical-align: baseline;
      border: 0;
      outline: 0;
      background: 0 0
  }
  .wrap .main {
      float: left;
      box-sizing: border-box;
      width: 300px;
      margin-bottom: 20px;
      margin-left: 20px;
      padding: 20px 20px 40px;
  }
  .wrap .sub {
      float: right;
      width: 300px;
      margin-right: 20px;
      margin-bottom: 114px;
  }
}

@media (max-width: 360px) {
    .wrap .flc {
      font-size: 18px;
      margin: 0;
      padding: 0;
      vertical-align: baseline;
      border: 0;
      outline: 0;
      background: 0 0
  }
  .wrap .main {
      float: left;
      box-sizing: border-box;
      width: 290px;
      margin-bottom: 20px;
      margin-left: 20px;
      padding: 20px 20px 40px;
  }
  .wrap .sub {
      float: right;
      width: 290px;
      margin-right: 20px;
      margin-bottom: 114px;
  }
  p {
      font-size: 14px;
  }
}

@media (max-width: 320px) {
    .wrap .flc {
      font-size: 18px;
      margin: 0;
      padding: 0;
      vertical-align: baseline;
      border: 0;
      outline: 0;
      background: 0 0
  }
  .wrap .main {
      float: left;
      box-sizing: border-box;
      width: 250px;
      margin-bottom: 20px;
      margin-left: 20px;
      padding: 20px 20px 40px;
  }
  .wrap .sub {
      float: right;
      width: 250px;
      margin-right: 20px;
      margin-bottom: 114px;
  }
  p {
      font-size: 7px;
  }
  a {
      font-size: 14px;
  }
}

@media (max-width: 280px) {
    .wrap .flc {
      font-size: 18px;
      margin: 0;
      padding: 0;
      vertical-align: baseline;
      border: 0;
      outline: 0;
      background: 0 0
  }
  .wrap .main {
      float: left;
      box-sizing: border-box;
      width: 210px;
      margin-bottom: 20px;
      margin-left: 20px;
      padding: 20px 20px 40px;
  }
  .wrap .sub {
      float: right;
      width: 210px;
      margin-right: 20px;
      margin-bottom: 114px;
  }
  a {
      font-size: 14px;
  }
}
