#comment {
    width: 600px;
    text-align: left;
    font-size: 12px;
    margin-top: 15px;
}
div.ently_body h4 {
    margin: 30px -8px 8px;
    padding: 15px 5px 5px;
    font-size: 18px;
    color: #333;
    border-top: 3px solid #bbb;
}
h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
#comment_text {
    border-bottom: dashed 1px #ddd;
    padding: 0 5px 20px;
    list-style-position: inside;
}
#vlog {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #333;
    font-size: 20px;
}
#comment span span {
    color: #069b05;
}
#comment span {
    font-size: 12px;
    color: #888;
    font-weight: normal;
}