#comment {
    width: 600px;
    text-align: left;
    font-size: 12px;
    margin-top: 15px;
}
div.ently_body h4 {
    margin: 30px -8px 8px;
    padding: 15px 5px 5px;
    font-size: 18px;
    color: #333;
    border-top: 3px solid #bbb;
}
h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
#comment_text {
    border-bottom: dashed 1px #ddd;
    padding: 0 5px 20px;
    list-style-position: inside;
}
#vlog {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #2d334a;
    font-size: 20px;
}
#comment span span {
    color: #069b05;
}
#comment span {
    font-size: 12px;
    color: #888;
    font-weight: normal;
}
.cp_button07 {
	position: relative;
	z-index: 1;
	overflow: hidden;
	width: 160px;
	padding: 1em;
	cursor: pointer;
	line-height: 1.4;
	transition: color 0.3s cubic-bezier(0.02,0.01,0.47,1),transform 0.3s cubic-bezier(0.02,0.01,0.47,1);
	color: #0d0d0d;
	border: none;
	border-width: 0;
	border-color: transparent;
	border-radius: 100px;
	background: #ff8e3c;
}
.cp_button07:after, .cp_button07:before {
	position: absolute;
	z-index: -1;
	right: 0;
	bottom: 0;
	width: 100px;
	height: 100px;
	content: '';
	transition: transform 0.15s cubic-bezier(0.02,0.01,0.47,1),opacity 0.15s cubic-bezier(0.02,0.01,0.47,1);
	-webkit-transform: translate(100%,-25%) translateZ(0);
	        transform: translate(100%,-25%) translateZ(0);
	opacity: 0;
	border-radius: 50%;
	background: #ff8e3c;
}
.cp_button07:after, .cp_button07:before {
	background: #0d0d0d;
}
.cp_button07:hover {
	transition: all 0.5s cubic-bezier(0.02,0.01,0.47,1);
	-webkit-transform: scale(1.1) translateZ(0);
	        transform: scale(1.1) translateZ(0);
	color: #0d0d0d;
	box-shadow: 0 1px 8px rgba(0,0,0,0.3);
}
.cp_button07:hover:before {
	transition: transform 0.2s cubic-bezier(0.02,0.01,0.47,1),opacity 0.2s cubic-bezier(0.02,0.01,0.47,1);
	-webkit-transform: translate3d(50%,0,0) scale(0.9);
	        transform: translate3d(50%,0,0) scale(0.9);
	opacity: 0.15;
}
.cp_button07:hover:after {
	transition: transform 0.2s cubic-bezier(0.02,0.01,0.47,1) 0.05s,opacity 0.2s cubic-bezier(0.02,0.01,0.47,1) 0.05s;
	-webkit-transform: translate(50%) scale(1.1);
	        transform: translate(50%) scale(1.1);
	opacity: 0.25;
}
.cp_button07:active {
	opacity: 0.5;
}
.cp_button07:focus {
	color: #ffffff;
}

label {
	color: #2d334a;
}
.footer {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 116px;
    margin-top: 120px;
    padding: 4px 0;
    background: #d9376e;
}
.footer .footer-logo {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 22px;
    padding-top: 20px;
    text-align: center;
    border-top: 1px dashed #d9376e;
}
.footer .links, .scroll-to-top span {
    font-size: 12px;
    text-align: center;
}