.pagination>li>a {          
    border: none;     /*枠線をなくす*/
    color: #009688;   /*文字の色を変える*/
  }
  
  /* 表示しているページ番号のデザイン */
  .pagination>.active>a {     
    background: #009688;     /*背景の色を変える*/
    border-radius: 15px;     /*角を丸くする*/
  }
  
  /*ホバー時のデザイン*/
  .pagination>li>a:hover {        
    border-radius: 15px;    /*角を丸くする*/
  }
  .page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #009688;
    border-color: #009688;
  }